<div class="kiji">
  <div class="kijiitiran">
    記事一覧(<%= @user.blogs.count %>)
  </div>
  
  <div class="kiji1">
    <% @blogs.each do |blog| %>
    <%= link_to blog do %>
    <p class="ltitle"><%= blog.title %></p>
    <% end %>
    <div class="kijiitiran1">
    <p class="ltimestamp">Posted <%= time_ago_in_words(blog.created_at) %> ago.</p>
    </div>
    <% end %>
  </div>
  <%= will_paginate @blogs %>
</div>
