<body class="bhaikei">
<h1>DM</h1>

<div class="sanka">
参加者
<% @entries.each do |e| %>
  <strong><a href="/users/<%= e.user.id %>"><%= e.user.email%>さん</a></strong>
<% end %>
</div>

<div class="waku">
<hr>
<% if @messages.present? %>
    <% @messages.each do |m| %>
     <% if m.user_id == current_user.id %>
       <div class="myme">
        <strong><%= m.content %></strong>
        <small>by <strong><a href="/users/<%= m.user_id %>"><%= m.user.email %>さん</a></strong></small>
       </div>
      <hr>
     <% else %>
      <strong><%= m.content %></strong>
      <small>by <strong><a href="/users/<%= m.user_id %>"><%= m.user.email %>さん</a></strong></small>
      <hr>
     <% end %>
    <% end %>
<% else %>
  <h3 class="text-center">メッセージはまだありません</h3>
<% end %>

<div class="mefo">
<%= form_for @message do |f| %>
  <%= f.text_field :content, :placeholder => "メッセージを入力して下さい" , :size => 70 %>
  <%= f.hidden_field :room_id, :value => @room.id %>
  <br>
  <%= f.submit "投稿する" %>
<% end %>
</div>
</div>
</body>